/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
auth.json
/.cursor/
/.idea
/.vscode
/.phpunit.cache
/.zed
/.nova
/docker-compose.override.yml
npm-debug.log
yarn-error.log

# Project specific temporary files
test_output.txt
/dogfood-output/
